<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYf8zm5Zvq7A7Ec5f88UgjChJU6zZGPh8</string>
	<key>GCM_SENDER_ID</key>
	<string>150445138450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.virajpoc2</string>
	<key>PROJECT_ID</key>
	<string>flutterflowpoc3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflowpoc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150445138450:ios:e5955e58354f45c6042ecb</string>
</dict>
</plist>